################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RestWithASPNETUdemy/RestCalculator/bin/Debug/net5.0
/RestWithASPNETUdemy/RestCalculator/obj
/RestWithASPNETUdemy/RestWithASPNETUdemy/bin/Debug/net5.0
/RestWithASPNETUdemy/RestWithASPNETUdemy/obj
/RestWithASPNETUdemy/RestClassControllerAndModel/bin/Debug/net5.0
/RestWithASPNETUdemy/RestClassControllerAndModel/obj
